# Main
jupyterlab==3.6.1
numpy==1.24.2
pandas==1.5.3
xlsxwriter==3.0.9
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.13.1
utils==1.0.1
wandb==0.14.0
graphviz==0.20.1

# Dev
autopep8==2.0.2
pylint==2.17.0
black==23.1.0
isort==5.12.0
nb-black==1.0.7

# PyTorch
pytorch-lightning==2.0.0
torch==2.0.0
torchvision==0.15.1
torchview==0.2.6

# TensorFlow
tensorflow-text==2.11.0

# ML-General
transformers==4.27.2
nltk==3.8.1
datasets==2.10.1
sentencepiece==0.1.97
scikit-learn==1.2.2